body {
}
nav#navvy.navbar.navbar-static-top{
    color: white;
    background-color: darkgray;
    height: 100px;
    padding-top: 25px;
    font-size: 16px;
    margin-bottom:0px;
    padding-bottom:0;
}
p{
    font-family: 'Open Sans', sans-serif;
}
#mainPics {
    margin: 0;
    padding: 0;
    
    
}
#jumbotronLeft {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    height:300px;
    margin:0;
    padding:0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin:0;
    padding:0;
    
   
}
#jumbotronRight {
    background-image: url('Images/Versilia.jpg');
    background-repeat: no-repeat;
    background-position:center;
    height: 300px;
    margin: 0;
    padding: 0;
    background-size: cover;
    margin: 0;
    padding: 0;
}

div.page-header{
    margin:0;
    padding:0;
    background-size:cover;
}
.banner{
    height:150px;
    color:white;
    text-align:center;
    background-color:darkgray;
    padding-top:0;
}
.locations{
    height:100%;
}

#firstLoc {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}  
#greyButton{
    color:white;
    background-color:darkgray;
    border-radius:0;
}
#whiteButton{
    color: darkgray;
    background-color:white;
    border-radius:0;
}
.pLeft{
    text-align: left;
    float:left;
    margin-right: 450px;
    width: 500px;
   
}
#pic1{
     padding-left:20px;
     height:100%;
     width:100%;

}
#secondLoc{
      background-color:darkgray;
      padding-top:5%;
      padding-bottom:5%;
      height:100%;
}
.pRight{
    text-align: left;
}
#pic2{
     padding-left:20px;
     height:100%;
     width:100%;
}
#thirdLoc{
     padding-top:5%;
     padding-bottom:5%;
     height:100%;
     
}
.checkerboard{
    height:100%;
    width:100%;
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
.checkPic {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height:352px;
    
}

.centered{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    color:white;
    
}
.checkText{
    vertical-align:middle;
    text-align:center;
    padding-top:5%;
    padding-bottom:10%;
    height:100%;
}

.carousel-inner{
    text-align:center;
}
#checkPic1 {
    background-image: url('Images/3b-348x348.jpg');
}
#checkPic2 {
    background-image: url('Images/42-348x348.jpg');
}
#checkPic3 {
    background-image: url('Images/314-348x348.jpg');
}
#checkPic4 {
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
}
#checkPic5 {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
}
#footer{
    padding-top:3%;
}
#myCarousel {
    font-size:20px;
}
   
